<div class="container" id="contact">

    <div class="row">
        <div class="docker-algo">
            <h1 class="algo-name">DICE</h1>

            <p class="metrics-text">
                Some information about algo
            </p>

            <div class="download-buttons">
                <input type="button" class="home-button-download metrics-button" value="Paper">
                <input type="button" class="home-button-download metrics-button" value="GitHub">
                <input type="button" class="home-button-download metrics-button" value="Docker Hub">
            </div>
            <hr>
        </div>
        <div class="docker-algo">
            <h1 class="algo-name">DICE</h1>

            <p class="metrics-text">
                Some information about algo
            </p>

            <div class="download-buttons">
                <input type="button" class="home-button-download metrics-button" value="Paper">
                <input type="button" class="home-button-download metrics-button" value="GitHub">
                <input type="button" class="home-button-download metrics-button" value="Docker Hub">
            </div>
            <hr>
        </div>
        <div class="docker-algo">
            <h1 class="algo-name">DICE</h1>

            <p class="metrics-text">
                Some information about algo
            </p>

            <div class="download-buttons">
                <input type="button" class="home-button-download metrics-button" value="Paper">
                <input type="button" class="home-button-download metrics-button" value="GitHub">
                <input type="button" class="home-button-download metrics-button" value="Docker Hub">
            </div>
            <hr>
        </div>
        <div class="docker-algo">
            <h1 class="algo-name">DICE</h1>

            <p class="metrics-text">
                Some information about algo
            </p>

            <div class="download-buttons">
                <input type="button" class="home-button-download metrics-button" value="Paper">
                <input type="button" class="home-button-download metrics-button" value="GitHub">
                <input type="button" class="home-button-download metrics-button" value="Docker Hub">
            </div>
            <hr>
        </div>
    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
