<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                <div>
                    <h1>EVOPS Benchmark</h1>

                    <p class="metrics-text">
                        Abzac opisaniya
                    </p>

                    <div class="download-buttons">
                        <input type="button" class="btn btn-template-main metrics-button" value="GitHub">
                        <input type="button" class="btn btn-template-main metrics-button" value="Documentation">
                    </div>
                </div>
            </section>

        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
