<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                <div>
                    <div style="padding-bottom: 10px">
                        <p class="metrics-text" style="padding-bottom: 14px">
                            Pip package that implements instance segmentation metrics adopted to planes. It can be used to evaluate the quality of the algorithms.
                        </p>

                        <p class="metrics-text">
                            Library can be installed using the <a href="https://pypi.org/project/pip/"></a>pip</a> package manager.

                            {{ .Content }}

                        </p>
                    </div>

                    <div class="download-buttons">
                        <a href="https://github.com/MobileRoboticsSkoltech/evops" class="btn btn-template-main metrics-button">GitHub</a>
                        <a href="https://pmokeev.github.io/evops-page/" class="btn btn-template-main metrics-button">Documentation</a>
                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-3" style="text-align: center;">
            <img src="{{ .Params.logo }}" style="width:80%; height: 80%; padding-bottom: 40px;">
            <img src="{{ .Params.github }}" style="width:60%; height: 60%; padding-bottom: 100px;">
        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
